{{- /* Resized WebP thumbnail of a person photo. Usage: partial "photo.html" (dict "src" "/images/people/x.jpg" "alt" "Name" "size" 480 "class" "x") */ -}}
{{- $size := .size | default 480 -}}
{{- $name := path.Base .src -}}
{{- with resources.Get (printf "img/people/%s" $name) -}}
  {{- $img := .Fill (printf "%dx%d Top webp q82" $size $size) -}}
  <img class="{{ $.class }}" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ $.alt }}" loading="lazy" decoding="async">
{{- else -}}
  <img class="{{ $.class }}" src="{{ $.src }}" alt="{{ $.alt }}" loading="lazy" decoding="async">
{{- end -}}
